<div class="dropdown">

  <div class="dropdown-header">
    <mat-form-field class="dropdown-output">
      <input matInput disabled [value]="test">
      <button mat-icon-button matSuffix color="accent"
        (click)="toggleDropdown()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div *ngIf="dropdownOpened">
    <div class="dropdown-top">
    </div>

    <div class="dropdown-content" *ngFor="let dropdownElement of dropdownData">
      <mat-checkbox>{{dropdownElement.subject.name}}</mat-checkbox>
      <button mat-icon-button color="accent">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <div class="dropdown-dates" *ngFor="let date of dropdownElement.subjectDates">
        <mat-checkbox>{{date | date: 'dd/LL/yyyy'}}</mat-checkbox>
      </div>

    </div>

    <div class="dropdown-bottom">
    </div>

  </div>
</div>
