<div *ngIf="subject" class="subjectTable-container">
  <h2>{{subject.name}}</h2>

  <app-subject-table [subject]="subject" (onNewData)="saveNewGrades($event)"></app-subject-table>

  <mat-form-field>
    <mat-label>Teacher</mat-label>
    <input matInput
      value={{subject.teacher}}
      (change)="renameTeacher($event)"
    >
  </mat-form-field>

  <div class="exitButtons-container">
    <button mat-flat-button class="exitButtons-button"
      color="accent"
      (click)="cancel()"
    >
      Go back
    </button>
    <button mat-flat-button class="exitButtons-button"
      *ngIf="teacherChanged || gradesChanged"
      color="warn"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
