h2 {
  text-align: center;
}

mat-form-field {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 200px;

  font-size: 18px;
}

.subjectTable {
  &-container {
    margin-top: 15px;
  }
}

.saveData {
  &-container {
    text-align: center;
  }
}
