<div *ngIf="subject" class="subjectTable-container">
  <h2>{{subject.name}}</h2>

  <app-subject-table
    [subject]="subject"
    (gradesChange)="onGradesChange()">
  </app-subject-table>

  <mat-form-field>
    <mat-label>{{ 'FORM.TEACHER_LABEL' | translate }}</mat-label>
    <input matInput
      value={{subject.teacher}}
      (change)="renameTeacher($event)"
    >
  </mat-form-field>

  <div class="exitButtons-container">
    <button mat-flat-button class="exitButtons-button"
      color="accent"
      (click)="cancel()"
    >
      {{ 'BUTTONS.GO_BACK' | translate }}
    </button>
    <button mat-flat-button class="exitButtons-button"
      *ngIf="teacherChanged || gradesChanged"
      color="warn"
      (click)="save()"
    >
      {{ 'BUTTONS.SAVE' | translate }}
    </button>
  </div>
</div>
