<div class="breadcrumb-container">
  <breadcrumb #parent>
    <span
      *ngFor="let route of parent.breadcrumbs"
    >
      <a mat-flat-button
        *ngIf="!route.terminal"
        class="breadcrumb-item"
        color="accent"
        [routerLink]="[route.url]"
      >
        {{translateBreadcrumb(route.displayName)}}
      </a>
      <a mat-flat-button
        *ngIf="route.terminal"
        class="breadcrumb-item"
        color="primary"
      >
        {{translateBreadcrumb(route.displayName)}}
      </a>
    </span>
  </breadcrumb>
</div>
