<div class="subjectList-container">
  <div class="subjectList-item" *ngFor="let subject of (subjectsState$ | async)?.data">
    <div class="subjectList-linkContainer">
      <a
        class="subjectList-link"
        routerLink="/subjects/{{subject.name}}"
        mat-raised-button
      >
        {{subject.name}}
      </a>
    </div>
    <div class="subjectList-deleteContainer">
      <button mat-mini-fab color="warn"
      >
        <mat-icon (click)="deleteSubject(subject)">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
