<mat-toolbar color="primary" class="navbar mat-elevation-z8">
  <h1 routerLink="/students">{{ 'APPNAME' | translate}}</h1>
  <app-language-switcher></app-language-switcher>
  <nav>
    <a mat-button routerLink="/students" routerLinkActive="active">{{ 'STUDENTS.TITLE' | translate }}</a>
    <a mat-button routerLink="/subjects" routerLinkActive="active">{{ 'SUBJECTS.TITLE' | translate }}</a>
    <a mat-button routerLink="/statistics" routerLinkActive="active">{{ 'STATISTICS.TITLE' | translate }}</a>
    <a mat-button routerLink="/export" routerLinkActive="active">{{ 'EXPORT.TITLE' | translate }}</a>
  </nav>
</mat-toolbar>
<app-breadcrumbs></app-breadcrumbs>
<router-outlet></router-outlet>
