<div class="studentTable-container">
  <mat-form-field class="studentTable studentTable-searchBar">
    <mat-label>{{ 'FORM.SEARCH' | translate }}</mat-label>
    <input #searchBar matInput [placeholder]="'STUDENTS.SEARCHBAR_HINT' | translate">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="studentTable">{{ "TABLE.NAME" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef class="studentTable">{{ "TABLE.SURNAME" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef class="studentTable">{{ "TABLE.ADDRESS" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="studentTable">{{ "TABLE.DESCRIPTION" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="studentTable studentTable-deleteHeader">{{ "TABLE.DELETE_STUDENT" | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable studentTable-deleteCell">
        <button mat-flat-button color="warn"
          (click)="deleteStudent(student)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsNamesList"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsNamesList"></mat-row>

  </mat-table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
