.studentTable {
  font-size: 1rem;

  &-container {
    margin: 2rem auto;
    max-width: 60rem;
  }

  &-deleteCell {
    justify-content: space-around;
  }

  &-searchBar {
    width: 100%;
  }
}

.mat-column {
  &-name {
    flex: 0 0 8rem;
  }

  &-surname {
    flex: 0 0 8rem;
  }

  &-address {
    flex: 0 0 10rem;
    &.mat-header-cell {
      justify-content: space-around;
    }
  }

  &-description {
    &.mat-header-cell {
      justify-content: space-around;
    }
  }

  &-delete {
    &.mat-header-cell {
      justify-content: space-around;
    }
  }
}
