<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.surname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.address}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let student">{{student.description}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

</mat-table>
