<div class="studentTable-container">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="id">
      <mat-header-cell mat-sort-header *matHeaderCellDef class="studentTable">ID</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="studentTable">Name</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef class="studentTable">Last name</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.surname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef class="studentTable">Address</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="studentTable">Description</mat-header-cell>
      <mat-cell *matCellDef="let student" class="studentTable">{{student.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

  </mat-table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
