<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

  <ng-container *ngFor="let field of config">
    <div>

      <mat-form-field [ngSwitch]="field.type">
        <mat-label>{{field.label}}</mat-label>
        <input matInput
          *ngSwitchCase="'text'"
          [formControlName]="field.name"
          [required]="field.required ? true : false"
          placeholder={{field.placeholder}}
        >

        <textarea matInput
          *ngSwitchCase="'text-area'"
          [formControlName]="field.name"
          [required]="field.required ? true : false"
          placeholder={{field.placeholder}}
        ></textarea>

        <mat-error *ngIf="formGroup.get(field.name)?.hasError('required')">This field is required!</mat-error>
        <mat-error *ngIf="formGroup.get(field.name)?.hasError('pattern')">{{field.errorMessage}}</mat-error>

      </mat-form-field>

    </div>
  </ng-container>

  <button mat-raised-button
    *ngIf="formGroup"
    type="submit"
    [disabled]="formGroup.invalid"
  >
    Add
  </button>

</form>
