<mat-card class="form">
  <mat-card-title class="form-title">
    <ng-content></ng-content>
  </mat-card-title>
  <form [formGroup]="formGroup">

    <ng-container *ngFor="let field of config">
      <div class="form-field">

        <mat-form-field [ngSwitch]="field.type">
          <mat-label>{{field.label | translate}}</mat-label>
          <input matInput
            *ngSwitchCase="'text'"
            [formControlName]="field.name"
            [required]="field.required ? true : false"
            [placeholder]='field.placeholder | translate'
          >

          <textarea matInput
            *ngSwitchCase="'text-area'"
            [formControlName]="field.name"
            [required]="field.required ? true : false"
            [placeholder]='field.placeholder | translate'
          ></textarea>

          <mat-error *ngIf="formGroup.get(field.name)?.hasError('required')">{{ 'FORM.VALIDATION_ERRORS.REQUIRED_FIELD' | translate }}</mat-error>
          <mat-error *ngIf="formGroup.get(field.name)?.hasError('pattern')">{{field.errorMessage | translate}}</mat-error>

        </mat-form-field>

      </div>
    </ng-container>
    <div class="exitButtons-container">
      <button mat-raised-button
        class="exitButtons-button"
        color="primary"
        [disabled]="formGroup.invalid"
        (click)="submit()"
      >
        {{ 'BUTTONS.ADD' | translate }}
      </button>

      <button mat-raised-button
      class="exitButtons-button"
        color="accent"
        (click)="goBack()"
      >
        {{ 'BUTTONS.GO_BACK' | translate }}
      </button>
    </div>
  </form>
</mat-card>
