<div class="container" style="background-color: rgba(255,255,255,0.1)">

  <mat-tab-group>
    <mat-tab #studentsTab [label]="'STUDENTS.TITLE' | translate">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let student of students"
          [class.active]="student === selectedStudent"
          (click)="selectStudent(student)"
        >
          {{student.name}} {{student.surname}}
        </mat-list-item>
      </mat-nav-list>
    </mat-tab>

    <mat-tab #subjectsTab [label]="'SUBJECTS.TITLE' | translate">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let subject of subjects"
          [class.active]="subject === selectedSubject"
          (click)="selectSubject(subject)"
        >
          {{subject.name}}
        </mat-list-item>
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>

  <mat-card *ngIf="studentsTab.isActive">
    <ng-container *ngIf="selectedStudent">
      <mat-card-title>{{selectedStudent.name}} {{selectedStudent.surname}}</mat-card-title>
      <mat-card-subtitle>{{selectedStudent.description}}</mat-card-subtitle>

      <div class="rating-container">
        <img src="./assets/rating-placeholder.png" alt="Student rating">
        <p class="mat-body-strong">{{ 'STATISTICS.RATING' | translate }}</p>
      </div>

      <div class="graph-container">
        <img src="./assets/graph-placeholder.png" alt="Students graph">
        <p class="mat-body-strong">{{ 'STATISTICS.GRAPHIC' | translate }}</p>
      </div>
    </ng-container>
  </mat-card>

  <mat-card *ngIf="subjectsTab.isActive">
    <ng-container *ngIf="selectedSubject">
      <mat-card-title>{{selectedSubject.name}}</mat-card-title>
      <mat-card-subtitle>{{selectedSubject.description}}</mat-card-subtitle>
      <div>
        <h3>{{ 'STATISTICS.BEST_PERFORMING_STUDENT' | translate }}</h3>
        <p>
          Kurt Cobain
        </p>
        <h3>{{ 'STATISTICS.WORST_PERFORMING_STUDENT' | translate }}</h3>
        <p>
          Joe Rogan
        </p>
      </div>
    </ng-container>
  </mat-card>
</div>

<div class="dropdown">
  <app-dropdown-picker></app-dropdown-picker>
</div>
