<div class="component">
  <div class="subjectsTable-container">
    <mat-table [dataSource]="dataSource" class="subjectsTable-table mat-elevation-z8">

      <mat-header-row *matHeaderRowDef="columnsNamesList; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsNamesList"></mat-row>

      <ng-container matColumnDef="name" sticky>
        <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__name">{{ 'TABLE.NAME' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let student" class="subjectsTable subjectsTable-cell subjectsTable-cell__name">{{student.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="surname" sticky>
        <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__surname">{{ 'TABLE.SURNAME' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let student" class="subjectsTable subjectsTable-cell subjectsTable-cell__surname">{{student.surname}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="averageGrade" sticky>
        <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__averageGrade">{{ 'TABLE.AVERAGE_GRADE' | translate }}</mat-header-cell>
        <mat-cell
          class="subjectsTable subjectsTable-cell subjectsTable-cell__averageGrade"
          *matCellDef="let student"
          appGradeRowHighlight
          [averageGrade]="student.averageGrade"
        >
          {{student.averageGrade}}
        </mat-cell>
      </ng-container>

      <ng-container *ngFor="let date of datesToRender" [matColumnDef]="date.string">
        <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__grade ">{{date.string}}</mat-header-cell>
        <mat-cell
          class="subjectsTable subjectsTable-cell subjectsTable-cell__grade"
          *matCellDef="let student"
        >
          <span
            appGradeHighlight
            [initialGrade]="student[date.number]"
            class="subjectsTable-gradeText"
            contenteditable="true"
            (focus)="saveEditingCell($event)"
            (keydown.enter)="handleEnter($event)"
            (blur)="handleGradeChange(student.id, date.number, $event)"
          >
            {{student[date.number]}}</span>
        </mat-cell>
      </ng-container>

    </mat-table>
  </div>
  <div class="subjectsTable newColumn-container">
    <mat-form-field class="newColumn-datepicker">
      <mat-label>{{ 'FORM.DATEPICKER_LABEL' | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="datePickControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-flat-button
      class="subjectsTable newColumn-addButton"
      color="accent"
      (click)="addColumn()"
    >
       {{ 'BUTTONS.ADD_NEW_DATE' | translate }}
    </button>
  </div>
</div>
