<div class="component">
  <div class="component-tableWrapper">

    <div class="subjectsTable-container">
      <mat-table [dataSource]="dataSource" class="subjectsTable-table mat-elevation-z8">

        <mat-header-row *matHeaderRowDef="columnsNamesList; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsNamesList"></mat-row>

        <ng-container matColumnDef="name" sticky>
          <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__name">{{ 'TABLE.NAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let student" class="subjectsTable subjectsTable-cell subjectsTable-cell__name">{{student.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname" sticky>
          <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__surname">{{ 'TABLE.SURNAME' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let student" class="subjectsTable subjectsTable-cell subjectsTable-cell__surname">{{student.surname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="averageGrade" sticky>
          <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__averageGrade">{{ 'TABLE.AVERAGE_GRADE' | translate }}</mat-header-cell>
          <mat-cell
            class="subjectsTable subjectsTable-cell subjectsTable-cell__averageGrade"
            *matCellDef="let student"
            appGradeRowHighlight
            [averageGrade]="student.averageGrade"
          >
            {{student.averageGrade}}
          </mat-cell>
        </ng-container>

        <ng-container *ngFor="let date of selectedDates" [matColumnDef]="date.string">
          <mat-header-cell *matHeaderCellDef class="subjectsTable subjectsTable-header subjectsTable-header__grade ">{{date.string}}</mat-header-cell>
          <mat-cell
            class="subjectsTable subjectsTable-cell subjectsTable-cell__grade"
            *matCellDef="let student"
          >
            <span
              appGradeHighlight
              [initialGrade]="student[date.number]"
              class="subjectsTable-gradeText"
              contenteditable="true"
              (focus)="saveEditingCell($event)"
              (keydown.enter)="handleEnterKey($event)"
              (blur)="handleGradeChange(student.id, date.number, $event)"
            >
              {{student[date.number]}}</span>
          </mat-cell>
        </ng-container>

      </mat-table>
    </div>

    <button
      class="newDate"
      mat-mini-fab
      color="accent"
      [matTooltip]="'TOOLTIPS.ADD_DATE' | translate"
      (click)="openDatepickerDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-paginator
    [paginationStep]="paginationStep"
    [paginationSize]="datesQuantity"
    (paginationChange)="managePaginationChange($event)">
  </app-paginator>
</div>
