.component {
  display: flex;
  justify-content: center;
}

.subjectsTable {
  font-size: 1.2rem;

  &-container {
    margin: 1rem;
    min-width: 60rem;
    height: 30rem;
    overflow: auto;
  }

  &-table {
    width: 10000px;
  }

  &-header {
    &__name {
      flex: 0 0 100px;
    }

    &__surname {
      flex: 0 0 100px;
    }

    &__averageGrade {
      flex: 0 0 140px;
      border-right: 1px solid;
    }

    &__grade {
      justify-content: space-around;
      flex: 0 0 75px;
    }
  }

  &-cell {
    height: 70px;
    &__name {
      flex: 0 0 100px;
    }

    &__surname {
      flex: 0 0 100px;
    }

    &__averageGrade {
      flex: 0 0 140px;
      justify-content: space-around;
      border-right: 1px solid;
    }

    &__grade {
      flex: 0 0 75px;
      text-align: center;
    }
  }

  &-gradeText {
    padding: 1.5rem 0;
    display: inline-block;
    width: 7rem;
  }
}

.newColumn {
  &-container {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  &-addButton {
    display: block;
  }
}
